.App {
  background-color: #040404;
  height: 100vh;
}

h1 {
  margin: 0;
  color: white;
}

.header-container {
  display: flex;
  margin-right: 15%;
  margin-left: 15%;
  padding: 1rem;
  border: 1px solid red;
}

header {
  display: flex;
  width: 100%;
  border: 1px solid red;
  
}

.container-two {
  display: flex;
  width: 100%
}

.img-style {
  max-width: 2.5rem;
  max-height: 2.5rem;
  width: auto;
  height: auto;
  color: white;
}

.icons-style {
  display: flex;
  justify-content: flex-end;
  width: 100%; 
}

.title-style{
  width: 50%
}