.App {
  background: rgb(13,9,9);
  background: linear-gradient(0deg, rgba(13,9,9,1) 51%, rgba(4,4,4,1) 77%);
  height: 200vh;
  font-family: 'Oswald', sans-serif;
}

h1 {
  margin: 0;
  color: white;
}

.header-container {
  display: flex;
  margin-right: 15%;
  margin-left: 15%;
  padding: 3rem;
}

header {
  display: flex;
  width: 100%;
}

.container-two {
  display: flex;
  width: 100%
}

.img-style {
  max-width: 2.5rem;
  max-height: 2.5rem;
  width: auto;
  height: auto;
  color: white;
}

.icons-style {
  display: flex;
  justify-content: flex-end;
  width: 100%; 
}

.title-style{
  width: 50%;
  font-family: 'Shantell Sans';
}

.apresent-style {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  margin-left: 15%;
  height: 15vh;
  padding: 3rem;
  font-size: 1.8rem;
  margin-top: 5rem;
  font-family: 'Shantell Sans', cursive;
  align-items: center;
}

.apresent-style p {
  color: white;
  font-size: 1.4rem;
  font-family: 'Oswald', sans-serif;
}

.apresent-style h1 {
  width: 100%%
}

.style-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.style-button button {
  color: white;
  height: 3rem;
  width: 10rem;
  background-color: #63d6a6;
  border-radius: 2rem;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #61d6b7;
}

.style-button hr {
  width: 50%; 
  border-color: #63d6a6;
}

.style-nick {
  color: #63d6a6;
}

.description-style {
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  margin-left: 15%;
  height: 15vh;
  padding: 3rem;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.photo-container {
  display: flex;
  align-self: end;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
}

img {
  border-radius: 50%;
}

.skills-style {
  display: flex;
  padding: 10rem;
  width: 100%;
  justify-content: space-around;
  color: white;
}

.skills-style h3 {
  color: #63d6a6;
}


.style-name {
  color: #63d6a6;
}